<template name="clientJoinToGame">
  <div class="container">
    <form class="form-horizontal" name="game-join-form" align="center">
      <fieldset>

        <!-- Form Name -->
        <legend>Dołącz do zabawy!!!</legend>

        <!-- Text input-->
        <div class="control-group">
          <div class="controls">
            <input id="name-input" name="name-input" type="text" placeholder="Nazwa ..." class="input-xlarge form-control big-input">

          </div>
        </div>

        <!-- Text input-->
        <div class="control-group">
          {{#if code}}
            <div class="controls">
                <input id="game-code-input" name="game-code-input" type="text" placeholder="Kod gry" class="input-xlarge form-control big-input" value="{{code}}" disabled>
            </div>
          {{else}}
            <div class="controls">
                <input id="game-code-input" name="game-code-input" type="text" placeholder="Kod gry" class="input-xlarge form-control big-input" value="{{code}}">
            </div>
          {{/if}}
        </div>

        <!-- Button -->
        <div class="control-group">
          <div class="controls">
            <button id="game-id-btn" name="game-id-btn" class="btn-block btn-lg btn btn-primary">Dołącz</button>
          </div>
        </div>

      </fieldset>
    </form>

  </div>
</template>
