<template name="gameController">
    <div class="container">
        <div class="gameControllerInterface">
            <div class="row">
                <div class="col-md-6">
                    <div class="add-btn form-control" id="add-btn-a" return="A">A</div>
                </div>
                <div class="col-md-6">
                    <div class="add-btn form-control" id="add-btn-b" return="B">B</div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="add-btn form-control" id="add-btn-c" return="C">C</div>
                </div>
                <div class="col-md-6">
                    <div class="add-btn form-control" id="add-btn-d" return="D">D</div>
                </div>
            </div>
        </div>
    </div>
</template>