<template name="serverGameLobby">
    <div class="container">
        <div class="row">
            {{#if game._id}}
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12">
                        <h1>Dołącz do gry</h1>
                        <div class="row" align="center">
                            <p>Kod gry:
                                <code>{{game.code}}</code>
                            </p>
                            <p>Url gry:
                                <a href="{{getUrl}}">{{getUrl}}</a>
                            </p>
                            <div id="qrcode"></div>
                        </div>
                        <h1>Wybierz rodzaj gry</h1>
                        <div class="row">
                            {{> chooseGameCategory}}
                        </div>
                        <h1>Wybierz bazę pytań</h1>
                        <div class="row">
                            {{> chooseKnowledgeCategory}}
                        </div>
                        <h1>Rozpocznij grę</h1>
                        <div class="row" align="center">
                            <div class="thumbnail tile tile-orange" id="newGame">
                                <a href="#">
                                    <h1 class="tile-text">
                                        Start
                                    </h1>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                {{#each player}} {{#if connected}}
                <div class="row">
                    <div class="col-md-12">
                        <img class="avatar" src="{{avatarPath}}" alt="{{avatarPath}}">{{name}}
                    </div>
                </div>
                {{/if}} {{/each}}
            </div>
            {{else}}
            <div class="col-md-12">
                <p>Utracono sesję!</p>
                <a href="{{pathFor 'homePage'}}" class="btn btn-default">Wróć</a>
            </div>
            {{/if}}
        </div>

        <div class="row">
            <br />
            <br />
            <br />
            <br />
            <br />
        </div>
    </div>
</template>


<template name="chooseGameCategory">

        <div class="wrap">

            <div class="scrollbar">
                <div class="handle">
                    <div class="mousearea"></div>
                </div>
            </div>

            <div class="frame effects" id="gametype-picker">
                <ul class="clearfix">
                    {{#each categories}}
                    <li _id="{{_id}}" _name="{{name}}">
                        <div class="thumbnail game-category {{#if isCategorySelected}} active {{/if}}">
                            <!-- <img data-src="holder.js/300x200" alt="..."> -->
                            <div class="caption" align="center">
                                <h3>{{displayName}}</h3>
                                <h4>{{description}}</h4>
                            </div>
                        </div>
                    </li>
                    {{/each}}
                </ul>
            </div>

            <div class="controls center">
                <button class="btn prev"><i class="icon-chevron-left"></i> Wstecz</button>
                <button class="btn next">Dalej <i class="icon-chevron-right"></i></button>
            </div>
        </div>

</template>

<template name="chooseKnowledgeCategory">

        <div class="wrap">

            <div class="scrollbar">
                <div class="handle">
                    <div class="mousearea"></div>
                </div>
            </div>

            <div class="frame effects" id="knowledgebase-picker">
                <ul class="clearfix">
                    {{#each categories}}
                    <li _id="{{_id}}" _name="{{name}}">
                        <div class="thumbnail game-category {{#if isCategorySelected}} active {{/if}}">
                            {{#if image}}
                            <img src="{{getImagUrl image}}" alt="{{getImagUrl image}}">{{/if}}
                            <div class="caption" align="center">
                                <h3>{{mainCategory}}</h3>
                                <h4>{{name}}</h4>
                                <h5>{{description}}</h5>
                            </div>
                        </div>
                    </li>
                    {{/each}}
                </ul>
            </div>

            <div class="controls center">
                <button class="btn prev"><i class="icon-chevron-left"></i> Wstecz</button>
                <button class="btn next">Dalej <i class="icon-chevron-right"></i></button>
            </div>
        </div>



    <div class="" id="knowledgebase-picker">
    </div>
</template>