/* http://updates.html5rocks.com/2013/12/300ms-tap-delay-gone-away */
 html {
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}
a, button, .myelements {
    -ms-touch-action: manipulation;
    /* IE10  */
    touch-action: manipulation;
    /* IE11+ */
}
.btn-start-game {
    width: 200px;
    height: 200px;
    font-size: 32px;
    white-space: normal;
    border:5px solid #000;
    -webkit-border-radius: 3000px;
    -moz-border-radius: 3000px;
    border-radius: 3000px;
    font-size:26px;
    font-family:arial, helvetica, sans-serif;
    padding: 10px 10px 10px 10px;
    text-decoration:none;
    display:inline-block;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
    font-weight:bold;
    color: #FFFFFF;
    
background: rgba(210,255,82,1);
background: -moz-linear-gradient(left, rgba(210,255,82,1) 0%, rgba(145,232,66,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(210,255,82,1)), color-stop(100%, rgba(145,232,66,1)));
background: -webkit-linear-gradient(left, rgba(210,255,82,1) 0%, rgba(145,232,66,1) 100%);
background: -o-linear-gradient(left, rgba(210,255,82,1) 0%, rgba(145,232,66,1) 100%);
background: -ms-linear-gradient(left, rgba(210,255,82,1) 0%, rgba(145,232,66,1) 100%);
background: linear-gradient(to right, rgba(210,255,82,1) 0%, rgba(145,232,66,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d2ff52', endColorstr='#91e842', GradientType=1 );
}
.btn-start-game:hover {
    border:5px solid #333;
    background-color: #8ed058;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#8ed058), to(#7bb64b));
    background-image: -webkit-linear-gradient(top, #8ed058, #7bb64b);
    background-image: -moz-linear-gradient(top, #8ed058, #7bb64b);
    background-image: -ms-linear-gradient(top, #8ed058, #7bb64b);
    background-image: -o-linear-gradient(top, #8ed058, #7bb64b);
    background-image: linear-gradient(to bottom, #8ed058, #7bb64b);
    filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#8ed058, endColorstr=#7bb64b);
}
.btn-start-game:focus {
    outline:0 !important;
}

.gameAnswer {
    padding: 10px;
}


.playerAvatar {
    height: 100px;
    width: 73px;
    display: inline-block;
    /*    border: solid 1px;
    border-radius: 10px;*/
    margin: 5px;
}
.playerImage {
    max-height: 100%;
    max-width: 100%;
}
.answerIndicator {
    position: absolute;
    width: 30px;
    font-size: xx-large;
    width: 73px;
    height: 104px;
    border: solid 5px transparent;
    opacity: 0.6;
    text-align: center;
    line-height: 104px !important;
}
.goodAnswer {
    border: solid 5px transparent;
    border-radius: 6px;
    border-color: green;
    position: absolute !important;
    color: green;
    background-color: rgba(50, 255, 50, 0.2);
}
.badAnswer {
    border: solid 5px transparent;
    border-radius: 6px;
    border-color: red;
    position: absolute !important;
    color: red;
    background-color: rgba(255, 50, 50, 0.2);
}
.configQuestionsAnswerImage {
    max-height: 200px;
    max-width: 200px;
}