body {
    height: 100%;
}
.gameControllerInterface {
    width: 100%;
}
.gameControllerInterface button {
    width: 100%;
    height: 50px;
    display: inline-block;
}
.game-category {
    cursor: pointer;
}
.game-category.active {
    background-color: #008202;
}
.big-input {
    font-size: 5em !important;
    line-height: 1em !important;
    height: 2em !important;
}
.add-btn {
    height: 100px !important;
    text-align: center !important;
    line-height: 100px !important;
    font-size: 50px !important;
}