<template name="basicQuiz">
    <div class="container">
        <div class="row">
            <div class="knowledgeBases">Kategorie pytań: {{#each knoledgeBases}}{{name}}, {{/each}}</div>
        </div>

        <div class="row">
            <div class="gameTimer">{{getTime}}</div>
        </div>

        <div class="row clearfix">
            <div class="col-md-12 column">
                <h2>
                    <div name="gameQuestionImage"><img src="{{getImageUrl question.image}}"></div>
                    <div name="gameQuestion">{{question.text}}</div>
                </h2>
            </div>
        </div>
        <div class="row clearfix">
            {{#with answers}}
            <div class="col-md-3 column">
                <div class="gameAnswer gameAnswerA">
                    <h3>A</h3>
                    {{#if question.answerIsImage}}
                        <img class="configQuestionsAnswerImage" src="{{getImageUrl A}}" text="{{A}}" buttonLetter="A">
                    {{else}}
                        <div name="gameAnswerA" text="{{A}}" buttonLetter="A">{{A}}</div>
                    {{/if}}
                </div>
            </div>
            <div class="col-md-3 column">
                <div class="gameAnswer gameAnswerB">
                    <h3>B</h3>
                    {{#if question.answerIsImage}}
                        <img class="configQuestionsAnswerImage" src="{{getImageUrl B}}" text="{{B}}" buttonLetter="B">
                    {{else}}
                        <div name="gameAnswerB" text="{{B}}" buttonLetter="B">{{B}}</div>
                    {{/if}}
                </div>
            </div>
            <div class="col-md-3 column">
                <div class="gameAnswer gameAnswerC">
                    <h3>C</h3>
                    {{#if question.answerIsImage}}
                        <img class="configQuestionsAnswerImage" src="{{getImageUrl C}}" text="{{C}}" buttonLetter="C">
                    {{else}}
                        <div name="gameAnswerC" text="{{C}}" buttonLetter="C">{{C}}</div>
                    {{/if}}
                </div>
            </div>
            <div class="col-md-3 column">
                <div class="gameAnswer gameAnswerD">
                    <h3>D</h3>
                    {{#if question.answerIsImage}}
                        <img class="configQuestionsAnswerImage" src="{{getImageUrl D}}" text="{{D}}" buttonLetter="D">
                    {{else}}
                        <div name="gameAnswerD" text="{{D}}" buttonLetter="D">{{D}}</div>
                    {{/if}}
                </div>
            </div>
            {{/with}}
        </div>
        <br><br>
        <div class="row">
            <div class="col-md-12">
                {{#each player}} {{#if connected}}
                    <div class="playerAvatar" playerName="{{name}}">
                        <div class="answerIndicator" name="indicator">
                        </div>
                        <img class="playerImage" src="{{avatarPath}}" alt="{{avatarPath}}"><div class="playerName">{{name}}</div>
                        {{#if playerPoints name}}
                            {{#with playerPoints name}}
                            <div>Punkty: {{#if lastGamePoints}}{{lastGamePoints}}{{else}}0{{/if}}</div>
                            {{#if lastAnswer}}<i class="glyphicon glyphicon-ok"></i>{{else}}<i class="glyphicon glyphicon-remove"></i>{{/if}}
                            {{/with}}
                        {{else}}
                            <div>Punkty: 0</div>
                            <i class="glyphicon glyphicon-remove"></i>
                        {{/if}}
                    </div>
                {{/if}} {{/each}}
            </div>
        </div>
    </div>
</template>