<template name="config">
    <div class="container">

        <!-- Nav tabs -->
        <ul class="nav nav-tabs">
            <li class="active">
                <a href="#knowledgeBases" data-toggle="tab">Bazy</a>
            </li>
            <li>
                <a href="#questions" data-toggle="tab">Pytania</a>
            </li>
            <li>
                <a href="#categories" data-toggle="tab">Kategorie</a>
            </li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div class="tab-pane active" id="knowledgeBases">{{> configKnowledgeBases}}</div>
            <div class="tab-pane" id="questions">{{> configQuestions}}</div>
            <div class="tab-pane" id="categories">...</div>
        </div>

    </div>
</template>