<template name="configKnowledgeBases">
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                <button class="btn btn-default" data-toggle="modal" data-target="#configAddBase">Nowa baza</button>
            </div>
            <div class="panel-body">
                <ul class="list-group">
                    {{#each base}}
                    <li class="list-group-item">

                        {{#if price}}<span class="badge">Cena: {{price}}</span>{{/if}}
                        <div class="btn-group">
                            <button name="configKnowledgeBaseRemoveButton" type="button" class="btn btn-danger" _id="{{_id}}">Usuń</button>
                            <button name="configKnowledgeBaseEditButton" type="button" class="btn btn-info" _id="{{_id}}">Edytuj</button>
                        </div>
                        <b>{{mainCategory}}</b> / {{name}}
                    </li>
                    {{/each}}
                </ul>

            </div>
        </div>
    </div>


    <!-- Modal dodawania bazy-->
    <div class="modal basesModal fade" id="configAddBase" tabindex="-1" role="dialog" aria-labelledby="configAddBaseLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="configAddBaseLabel">Dodaj nową bazę pytań</h4>
                </div>
                <form class="form-horizontal" id="configAddKnowledgeBaseForm">
                    <div class="modal-body">
                        <fieldset>
                            <!-- Text input-->
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="configAddBaseName">Nazwa*</label>
                                <div class="col-md-7">
                                    <input id="configAddBaseName" name="configAddBaseName" type="text" placeholder="" class="form-control input-md" required="">
                                    <span class="help-block">Podaj nazwę nowej bazy</span>
                                </div>
                            </div>

                            <!-- Text input-->
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="configAddBaseMainCategory">Kategoria*</label>
                                <div class="col-md-7">
                                    <input id="configAddBaseMainCategory" name="configAddBaseMainCategory" type="text" placeholder="" class="form-control input-md" required="">
                                    <span class="help-block">Podaj kategorię główną</span>
                                </div>
                            </div>

                            <!-- Text input-->
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="configAddBasePrice">Cena</label>
                                <div class="col-md-7">
                                    <input id="configAddBasePrice" name="configAddBasePrice" type="text" placeholder="" class="form-control input-md">
                                    <span class="help-block">Podaj cenę bazy</span>
                                </div>
                            </div>

                            <!-- Text input-->
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="configAddBaseDescription">Opis</label>
                                <div class="col-md-7">
                                    <textarea id="configAddBaseDescription" name="configAddBaseDescription" class="form-control"></textarea>
                                    <span class="help-block">Podaj opis nowej bazy</span>
                                </div>
                            </div>

                            <!-- Text input-->
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="configAddBaseImage">Miniatura</label>
                                <div class="col-md-7">
                                    <input id="configAddBaseImage" name="configAddBaseImage" type="file" placeholder="" class="form-control input-md">
                                    <span class="help-block">Wybierz miniaturkę</span>
                                </div>
                            </div>

                        </fieldset>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Anuluj</button>
                        <button type="submit" class="btn btn-primary">Dodaj</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <!-- Modal edytowania bazy-->
    <div class="modal basesModal fade" id="configEditBase" tabindex="-1" role="dialog" aria-labelledby="configAddBaseLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="configAddBaseLabel">Edycja bazy pytań</h4>
                </div>
                <form class="form-horizontal" id="configEditKnowledgeBaseForm">
                    <div class="modal-body">
                        <fieldset>
                            <!-- Text input-->
                            {{#with actualBase}}
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="configAddBaseName">Nazwa*</label>
                                <div class="col-md-7">
                                    <input id="configEditBaseName" name="configEditBaseName" type="text" placeholder="" class="form-control input-md" required="" value="{{name}}">
                                    <span class="help-block">Podaj nazwę nowej bazy</span>
                                </div>
                            </div>

                            <!-- Text input-->
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="configEditBaseMainCategory">Kategoria*</label>
                                <div class="col-md-7">
                                    <input id="configEditBaseMainCategory" name="configEditBaseMainCategory" type="text" placeholder="" class="form-control input-md" required="" value="{{mainCategory}}">
                                    <span class="help-block">Podaj kategorię główną</span>
                                </div>
                            </div>

                            <!-- Text input-->
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="configEditBasePrice">Cena</label>
                                <div class="col-md-7">
                                    <input id="configEditBasePrice" name="configEditBasePrice" type="text" placeholder="" class="form-control input-md" value="{{price}}">
                                    <span class="help-block">Podaj cenę bazy</span>
                                </div>
                            </div>

                            <!-- Text input-->
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="configEditBaseDescription">Opis</label>
                                <div class="col-md-7">
                                    <textarea id="configEditBaseDescription" name="configEditBaseDescription" class="form-control">{{description}}</textarea>
                                    <span class="help-block">Podaj opis nowej bazy</span>
                                </div>
                            </div>

                            <!-- Text input-->
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="configEditBaseImage">Miniatura</label>
                                <div class="col-md-7">
                                    {{#if image}}
                                        <img class="form-control configImage" src="{{getImageUrl image}}" alt="{{getImageUrl image}}">
                                    {{/if}}
                                    <input id="configEditBaseImage" name="configEditBaseImage" type="file" placeholder="" class="form-control input-md">
                                    <span class="help-block">Wybierz miniaturkę</span>
                                </div>
                            </div>


                            {{/with}}

                        </fieldset>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Anuluj</button>
                        <button type="submit" class="btn btn-primary">Zapisz zmiany</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</template>