<template name="configQuestions">
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                <button class="btn btn-default" data-toggle="modal" data-target="#configAddQuestions">Nowe pytanie</button>
                w bazie
                <select id="configQuestionsBasesSelect">
                    {{#each base}}
                        <option value="{{_id}}">{{mainCategory}} / {{name}}</option>
                    {{/each}}
                </select>
            </div>
            <div class="panel-body">
                <ul class="list-group">
                    {{#each question}}
                    <li class="list-group-item">
                        <div class="btn-group">
                            <button name="configQuestionsRemoveButton" type="button" class="btn btn-danger" _id="{{_id}}">Usuń</button>
                            <button name="configQuestionsEditButton" type="button" class="btn btn-info" _id="{{_id}}">Edytuj</button>
                        </div>
                        <h3>{{text}}</h3>
                        {{#if answerIsImage}}
                            <i class="glyphicon glyphicon-ok"><img class="configQuestionsAnswerImage" src="{{getImageUrl answers.[0]}}"></i>
                            <i class="glyphicon glyphicon-remove"><img class="configQuestionsAnswerImage" src="{{getImageUrl answers.[1]}}"></i>
                            <i class="glyphicon glyphicon-remove"><img class="configQuestionsAnswerImage" src="{{getImageUrl answers.[2]}}"></i>
                            <i class="glyphicon glyphicon-remove"><img class="configQuestionsAnswerImage" src="{{getImageUrl answers.[3]}}"></i>
                        {{else}}
                            <p><i class="glyphicon glyphicon-ok"></i>{{answers.[0]}}</p>
                            <p><i class="glyphicon glyphicon-remove"></i>{{answers.[1]}}</p>
                            <p><i class="glyphicon glyphicon-remove"></i>{{answers.[2]}}</p>
                            <p><i class="glyphicon glyphicon-remove"></i>{{answers.[3]}}</p>
                        {{/if}}

                    </li>
                    {{/each}}
                </ul>

            </div>
        </div>
    </div>


    <!-- Modal dodawania bazy-->
    <div class="modal questionsModal fade" id="configAddQuestions" tabindex="-1" role="dialog" aria-labelledby="configAddQuestionsLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="configAddQuestionsLabel">Dodaj nowe pytanie do bazy</h4>
                </div>
                <form class="form-horizontal" id="configAddQuestionsForm">
                    <div class="modal-body">
                        <fieldset>
                            <!-- Text input-->
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="configAddQuestionsText">Treść*</label>
                                <div class="col-md-7">
                                    <textarea id="configAddQuestionsText" name="configAddQuestionsText" class="form-control" required=""></textarea>
                                    <!-- <input id="configAddQuestionsText" name="configAddQuestionsText" type="text" placeholder="" class="form-control input-md" required=""> -->
                                    <span class="help-block">Podaj treść nowego pytania</span>
                                </div>
                            </div>

                            <!-- Text input-->
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="configAddQuestionsImage">Obrazek</label>
                                <div class="col-md-7">
                                    <input id="configAddQuestionsImage" name="configAddQuestionsImage" type="file" placeholder="" class="form-control input-md">
                                    <span class="help-block">Wybierz obrazek</span>
                                </div>
                            </div>


                            <!-- Multiple Checkboxes -->
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="configAddQuestionsOptions">Opcje</label>
                                <div class="col-md-4">
                                    <div class="checkbox">
                                        <label for="configAddQuestionsOptions-0">
                                            <input type="checkbox" name="configAddQuestionsOptions" id="configAddQuestionsOptionsAnswerType" value="1">Odpowiedź jest obrazkiem
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <!-- Text input-->
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="configAddQuestionsGoodAnswer">Poprawna odpowiedź*</label>
                                <div class="col-md-7">
                                    {{#if answerTypeIsText}}
                                    <input id="configAddQuestionsGoodAnswer" name="configAddQuestionsGoodAnswer" type="text" placeholder="" class="form-control input-md btn-success" required="">
                                    {{else}}
                                    <input id="configAddQuestionsGoodAnswer" name="configAddQuestionsGoodAnswer" type="file" placeholder="" class="form-control input-md btn-success" required="">
                                    {{/if}}
                                    <span class="help-block">Podaj poprawną odpowiedź</span>
                                </div>
                            </div>

                            <!-- Text input-->
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="configAddQuestionsBadAnswer1">Błędna odpowiedź*</label>
                                <div class="col-md-7">
                                    {{#if answerTypeIsText}}
                                    <input id="configAddQuestionsBadAnswer1" name="configAddQuestionsBadAnswer1" type="text" placeholder="" class="form-control input-md btn-danger" required="">
                                    {{else}}
                                    <input id="configAddQuestionsBadAnswer1" name="configAddQuestionsBadAnswer1" type="file" placeholder="" class="form-control input-md btn-danger" required="">
                                    {{/if}}
                                    <span class="help-block">Podaj błędną odpowiedź 1</span>
                                </div>
                            </div>

                            <!-- Text input-->
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="configAddQuestionsBadAnswer2">Błędna odpowiedź*</label>
                                <div class="col-md-7">
                                    {{#if answerTypeIsText}}
                                    <input id="configAddQuestionsBadAnswer2" name="configAddQuestionsBadAnswer2" type="text" placeholder="" class="form-control input-md btn-danger" required="">
                                    {{else}}
                                    <input id="configAddQuestionsBadAnswer2" name="configAddQuestionsBadAnswer2" type="file" placeholder="" class="form-control input-md btn-danger" required="">
                                    {{/if}}
                                    <span class="help-block">Podaj błędną odpowiedź 2</span>
                                </div>
                            </div>

                            <!-- Text input-->
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="configAddQuestionsBadAnswer3">Błędna odpowiedź*</label>
                                <div class="col-md-7">
                                    {{#if answerTypeIsText}}
                                    <input id="configAddQuestionsBadAnswer3" name="configAddQuestionsBadAnswer3" type="text" placeholder="" class="form-control input-md btn-danger" required="">
                                    {{else}}
                                    <input id="configAddQuestionsBadAnswer3" name="configAddQuestionsBadAnswer3" type="file" placeholder="" class="form-control input-md btn-danger" required="">
                                    {{/if}}
                                    <span class="help-block">Podaj błędną odpowiedź 3</span>
                                </div>
                            </div>

                        </fieldset>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Anuluj</button>
                        <button type="submit" class="btn btn-primary">Dodaj</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <!-- Modal edytowania bazy-->
    <div class="modal questionsModal fade" id="configEditQuestions" tabindex="-1" role="dialog" aria-labelledby="configAddQuestionsLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="configAddQuestionsLabel">Edycja bazy pytań</h4>
                </div>
                <form class="form-horizontal" id="configEditQuestionsForm">
                    <div class="modal-body">
                        <fieldset>
                            {{#with actualQuestion}}
                            <!-- Text input-->
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="configAddQuestionsText">Treść*</label>
                                <div class="col-md-7">
                                    <textarea id="configEditQuestionsText" name="configEditQuestionsText" class="form-control" required="">{{text}}</textarea>
                                    <!-- <input id="configEditQuestionsText" name="configEditQuestionsText" type="text" placeholder="" class="form-control input-md" required=""> -->
                                    <span class="help-block">Edytuj pytanie</span>
                                </div>
                            </div>


                            <!-- Text input-->
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="configEditQuestionsImage">Obrazek</label>
                                <div class="col-md-7">
                                    {{#if image}}
                                    <img class="form-control configImage" src="{{getImageUrl image}}" alt="{{getImageUrl image}}">{{/if}}
                                    <input id="configEditQuestionsImage" name="configEditQuestionsImage" type="file" placeholder="" class="form-control input-md">
                                    <span class="help-block">Wybierz obrazek</span>
                                </div>
                            </div>

                            <!-- Text input-->
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="configEditQuestionsGoodAnswer">Poprawna odpowiedź*</label>
                                <div class="col-md-7">
                                    {{#if answerIsImage}}
                                    <img class="configQuestionsAnswerImage" src="{{getImageUrl answers.[0]}}">
                                    <input id="configEditQuestionsGoodAnswer" name="configEditQuestionsGoodAnswer" type="file" placeholder="" class="form-control input-md btn-success" value="">
                                    {{else}}
                                    <input id="configEditQuestionsGoodAnswer" name="configEditQuestionsGoodAnswer" type="text" placeholder="" class="form-control input-md btn-success" required="" value="{{answers.[0]}}">
                                    {{/if}}
                                    <span class="help-block">Podaj poprawną odpowiedź</span>
                                </div>
                            </div>

                            <!-- Text input-->
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="configEditQuestionsBadAnswer1">Błędna odpowiedź*</label>
                                <div class="col-md-7">
                                    {{#if answerIsImage}}
                                    <img class="configQuestionsAnswerImage" src="{{getImageUrl answers.[1]}}">
                                    <input id="configEditQuestionsBadAnswer1" name="configEditQuestionsBadAnswer1" type="file" placeholder="" class="form-control input-md btn-danger" value="">
                                    {{else}}
                                    <input id="configEditQuestionsBadAnswer1" name="configEditQuestionsBadAnswer1" type="text" placeholder="" class="form-control input-md btn-danger" required="" value="{{answers.[1]}}">
                                    {{/if}}
                                    <span class="help-block">Podaj błędną odpowiedź 1</span>
                                </div>
                            </div>

                            <!-- Text input-->
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="configEditQuestionsBadAnswer2">Błędna odpowiedź*</label>
                                <div class="col-md-7">
                                    {{#if answerIsImage}}
                                    <img class="configQuestionsAnswerImage" src="{{getImageUrl answers.[2]}}">
                                    <input id="configEditQuestionsBadAnswer2" name="configEditQuestionsBadAnswer2" type="file" placeholder="" class="form-control input-md btn-danger" value="">
                                    {{else}}
                                    <input id="configEditQuestionsBadAnswer2" name="configEditQuestionsBadAnswer2" type="text" placeholder="" class="form-control input-md btn-danger" required="" value="{{answers.[2]}}">
                                    {{/if}}
                                    <span class="help-block">Podaj błędną odpowiedź 2</span>
                                </div>
                            </div>

                            <!-- Text input-->
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="configEditQuestionsBadAnswer3">Błędna odpowiedź*</label>
                                <div class="col-md-7">
                                    {{#if answerIsImage}}
                                    <img class="configQuestionsAnswerImage" src="{{getImageUrl answers.[3]}}">
                                    <input id="configEditQuestionsBadAnswer3" name="configEditQuestionsBadAnswer3" type="file" placeholder="" class="form-control input-md btn-danger" value="">
                                    {{else}}
                                    <input id="configEditQuestionsBadAnswer3" name="configEditQuestionsBadAnswer3" type="text" placeholder="" class="form-control input-md btn-danger" required="" value="{{answers.[3]}}">
                                    {{/if}}
                                    <span class="help-block">Podaj błędną odpowiedź 3</span>
                                </div>
                            </div>
                            {{/with}}

                        </fieldset>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Anuluj</button>
                        <button type="submit" class="btn btn-primary">Zapisz zmiany</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>