<template name="footer">
  <div id="footer">
    <footer class="navbar navbar-default navbar-fixed-bottom">
      <div class="container">
        <p>Stopunia</p>
      </div>
    </footer>
  </div>
</template>
