<template name="header">
  <div class="header">
    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">FakeBuzz</a>
        </div>
        <ul id="bs-example-navbar-collapse-1" class="nav navbar-nav navbar-right">
          <li><a href="{{pathFor 'homePage'}}">Start</a></li>
          <li><a href="{{pathFor 'serverGameLobby'}}">Lobby</a></li>
          <li><a href="{{pathFor 'serverGame'}}">Gra</a></li>
          <li><a href="{{pathFor 'config'}}">Konfiguracja</a></li>
          {{> loginButtons }} <!-- here -->
        </ul>
      </div>
      <!-- /.container-fluid -->
    </nav>
  </div>
</template>
