<template name="homePage">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail tile tile-double tile-green" name="new-game-btn">
                    <a href="#">
                        <h1 class="tile-text">
                            Nowa gra
                        </h1>
                    </a>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail tile tile-double tile-orange" name="play-game-btn">
                    <a href="#">
                        <h1 class="tile-text">
                            Dołącz do gry
                        </h1>
                    </a>
                </div>
            </div>
        </div>



    <div class="pagespan container">
        <div class="wrap">
            <h2>Now I'm just goofing around <small>- uses CSS 3D transforms &amp; transitions</small></h2>

            <div class="scrollbar">
                <div class="handle">
                    <div class="mousearea"></div>
                </div>
            </div>

            <div class="frame effects" id="effects">
                <ul class="clearfix">
                    <li>0</li><li>1</li><li>2</li><li>3</li><li>4</li><li>5</li><li>6</li><li>7</li><li>8</li><li>9</li>
                    <li>10</li><li>11</li><li>12</li><li>13</li><li>14</li><li>15</li><li>16</li><li>17</li><li>18</li>
                    <li>19</li><li>20</li><li>21</li><li>22</li><li>23</li><li>24</li><li>25</li><li>26</li><li>27</li>
                    <li>28</li><li>29</li>
                </ul>
            </div>

            <div class="controls center">
                <button class="btn prev"><i class="icon-chevron-left"></i> prev</button>
                <button class="btn next">next <i class="icon-chevron-right"></i></button>
            </div>
        </div>
    </div>




    </div>
</template>